<!doctype html>
<html {{ function('language_attributes') }}>

    {% include 'templates/head.twig' %}

    <body {{ function('body_class') }}>

        {% include 'templates/header.twig' %}

        <div class="wrap container" role="document">
            <div class="content row">

                <div class="col-md-2 hidden-sm wbba-side-area text-center">
                    <div>
                        {% for p in programs_left %}
                            <a href="{{ p.link }}" title="{{ p.title }}">
                                <div class="image">
                                    {{ p.image }}
                                </div>
                            </a>
                            <div class="program-title">{{ p.title }}</div>
                            <div class="program-ages">{{ p.ages }}</div>
                        {% endfor %}
                    </div>
                </div>

                <main class="col-xs-12 col-md-8">
                    {% block content %}{% endblock %}
                </main>

                <div class="col-md-2 hidden-sm wbba-side-area text-center">
                    {% for p in programs_right %}
                        <a href="{{ p.link }}" title="{{ p.title }}">
                            <div class="image">
                                {{ p.image }}
                            </div>
                        </a>
                        <div class="program-title">{{ p.title }}</div>
                        <div class="program-ages">{{ p.ages }}</div>
                    {% endfor %}                    
                </div>

                {# 
                {% if display_sidebar %}
                    <aside class="sidebar cols-xs-12 col-sm-4">
                        {% block sidebar %}
                            {% include 'templates/sidebar.twig' %}
                        {% endblock %}
                    </aside>
                {% endif %} 
                #}

            </div>
        </div>

        {% include 'templates/footer.twig' %}

    </body>

</html>