{% extends "templates/base.twig" %}

{% block content %}

	{# <div class="blog-list">
		{{ news_articles | print_r }}
	</div> #}

	<h2 class="post-title">{{ post.post_title }}</h2>

	<div class="post-content">{{ post.post_content }}</div>

	{% if news_articles is not empty %}

		<div id="accordion" class="accordion news-accordion panel-group">

			{% for news_article in news_articles %}

				{% if news_article.image is empty %}				
					{% set col_class = 'col-lg-12' %}
				{% else %}
					{% set col_class = 'col-lg-6' %}
				{% endif %}

			    <div class="panel panel-default">
			        <div class="panel-heading">
			        	<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index0 }}">
				            <h4 class="panel-title">
				                {{ news_article.post_title }}
				            </h4>
			            </a>
			        </div>
			        <div id="collapse{{ loop.index0 }}" class="panel-collapse collapse">
			            <div class="panel-body">
			            	<div class="{{ col_class }}">
				                <p class="tease-text">
				                	{{ news_article.get_preview( 40, true, 'Read More', true ) }}
				                </p>
			            	</div>

			            	{% if news_article.image is not empty %}

				            	<div class="col-lg-6 text-center">
				                	{{ news_article.image }}
				            	</div>

							{% endif %}

			            </div>
			        </div>
			    </div>

			{% endfor %}

		</div>

	{% endif %}



	{% if programs is not empty %}

		<div id="home-carousel" class="carousel slide" data-ride="carousel">

			<div class="carousel-inner" role="listbox">
				{% for program in programs %}
					{% set activeClass = '' %}
					{% if loop.index0 == 0 %}
						{% set activeClass = 'active' %}
					{% endif %}
					<div class="item {{ activeClass }}">

		            	<div class="col-lg-6 text-center image">
							<img src="{{ program.image }}">

                            {{ program.post_title }}

		            	</div>

		            	<div class="col-lg-6 text-center text">
							<p class="tease-text">
			                	{{ program.get_preview( 70, true, 'Read More', true ) }}
			                </p>
		            	</div>

					</div>
				{% endfor %}
			</div>

			<a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#home-carousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>

	{% endif %}

{% endblock %}